@using ScanGuard.Models
@model Vulnerability

<h2>Введите ссылку</h2>

<form method="post" asp-controller="Home" asp-action="Scanner">
    <label for="urlInput">Ссылка:</label>
    <input type="text" id="urlInput" name="url" required />
    <button type="submit">Отправить</button>
</form>


<h2>Результаты сканирования</h2>
<p>Проверенный URL: @ViewBag.ReceivedUrl</p>


@if (Model != null)
{
    <div>
        <p><strong>SQL Injection:</strong> <span style="color: @(Model.SQLi ? "red" : "green")">@Model.SQLi</span></p>
        <p><strong>XSS:</strong> <span style="color: @(Model.XSS ? "red" : "green")">@Model.XSS</span></p>
        <p><strong>XSRF:</strong> <span style="color: @(Model.CSRF ? "red" : "green")">@Model.CSRF</span></p>
    </div>
}



<a asp-action="Index">Вернуться назад</a>