@model ScanGuard.Domain.Entity.CreateCorpRequestEntity

<h2>@Model.Corporation.CorpName</h2>
<p>Website: @Model.Corporation.Website</p>
<p>Email: @Model.Corporation.Email</p>
<p>Phone: @Model.Corporation.Phone</p>
<p>Country: @Model.Corporation.Country</p>
<p>Address: @Model.Corporation.Address, @Model.Corporation.City</p>

@if (!Model.IsApproved)
{
    <form asp-action="AcceptCorporation" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit">Approve</button>
    </form>

    <form asp-action="DisapproveCorporation" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit">Disapprove</button>
    </form>
}