 @model ScanGuard.Models.Vulnerability

@if (TempData["ErrorMessage"] != null)
{
    <div class="error">@TempData["ErrorMessage"]</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="success">@TempData["SuccessMessage"]</div>
}

<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сканер уязвимостей</title>
   
</head>
<body>
    <div class="main_container">
        <h1>Сканер уязвимостей</h1>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="error">@ViewBag.ErrorMessage</div>
        }

        <form asp-action="Scanner" method="post" id="scanForm">
            <label for="url">Введите URL для проверки:</label><br>
            <input type="text" id="url" name="url" style="width: 300px;" placeholder="https://example.com" /><br><br>
            <button type="submit">Сканировать</button>
        </form>

        @if (Model != null)
        {
            <div class="result-container">
                <h3>Результаты сканирования:</h3>
                <p><strong>SQLi:</strong> <span class="@(Model.SQLi ? "error" : "success")">@Model.SQLi</span></p>
                <p><strong>XSS:</strong> <span class="@(Model.XSS ? "error" : "success")">@Model.XSS</span></p>
                <p><strong>CSRF:</strong> <span class="@(Model.CSRF ? "error" : "success")">@Model.CSRF</span></p>
                <p><strong>IDOR:</strong> <span class="@(Model.IDOR ? "error" : "success")">@Model.IDOR</span></p>
                <p><strong>Broken Authentication:</strong> <span class="@(Model.BrokenAuthentification ? "error" : "success")">@Model.BrokenAuthentification</span></p>
                <p><strong>Check Weak Password Policy:</strong> <span class="@(Model.CheckWeakPasswordPolicy ? "error" : "success")">@Model.CheckWeakPasswordPolicy</span></p>
                <p><strong>Security Misconfiguration:</strong> <span class="@(Model.SecurityMisconfiguration ? "error" : "success")">@Model.SecurityMisconfiguration</span></p>
                <p><strong>Unvalidated Redirect:</strong> <span class="@(Model.UnvalidatedRedirectAndForwards ? "error" : "success")">@Model.UnvalidatedRedirectAndForwards</span></p>
                <p><strong>Directory Listing:</strong> <span class="@(Model.DirectoryListing ? "error" : "success")">@Model.DirectoryListing</span></p>
                <p><strong>LFI:</strong> <span class="@(Model.LFI ? "error" : "success")">@Model.LFI</span></p>
                <p><strong>RFI:</strong> <span class="@(Model.RFI ? "error" : "success")">@Model.RFI</span></p>
                <p><strong>HTTP Response Splitting:</strong> <span class="@(Model.HTTPResponseSplitting ? "error" : "success")">@Model.HTTPResponseSplitting</span></p>
                <p><strong>Phishing:</strong> <span class="@(Model.Phishing ? "error" : "success")">@Model.Phishing</span></p>
                <p><strong>Not Secure Domain:</strong> <span class="@(!Model.HTTPWithoutS ? "success" : "error")">@Model.HTTPWithoutS</span></p>
            </div>

            @if (ViewBag.PortScanResults != null)
            {
                <div class="result-container">
                    <h3>Port Scan Results:</h3>
                    @foreach (var port in ViewBag.PortScanResults as Dictionary<int, (bool IsOpen, string Service, string Version)>)
                    {
                        <p>Port @port.Key: @(port.Value.IsOpen ? "Open" : "Closed") - @port.Value.Service (@port.Value.Version)</p>
                    }
                </div>
            }
        }
    </div>

    <div class="loading-overlay" id="loading">
        <div class="spinner"></div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let loadingOverlay = document.getElementById('loading');

            document.getElementById('scanForm').addEventListener('submit', function () {
                loadingOverlay.style.display = 'flex';
            });

            // Прячем спиннер после загрузки страницы
            window.onload = function () {
                loadingOverlay.style.display = 'none';
            };
        });
    </script>
</body>
</html>
